<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Questions", placeholder: "Enter question here", style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div class = "form">
    <%= form.label "Survey Type",style: "display: block" %>
    <%= form.select :survey_id, [["Multiple Choice", 1], ["Essay",2], ["True/False",3], ["Multiple Answer",4]] %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
