<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Edit this question", edit_question_path(@question), class: "btn btn-warning" %> |
  <%= link_to "Back to questions", questions_path, class: "btn btn-info" %>

  <%= button_to "Destroy this question", @question, method: :delete ,class: "btn btn-danger"%>
</div>
