
<%= form_with(model: survey) do |form| %>
  <% if survey.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div>
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div>
      <%= form.label :description, class: "form-label" %>
      <%= form.rich_text_area :description, class: "form-control" %>
    </div>

    <!-- For adding new question field dynamically -->
    <div class="clearfix">
          <% unless survey.new_record? %>
            <h2>Questions</h2>
          <% form.fields_for :question do |f| %>
            <%= render 'question_fields', f: f %>
          <% end %>

          <button type="button" class="btn btn-success add_question_btn float-end">Add Question</button>
          <% end %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary " %>
    </div>
    
<% end %>
