<p style="color: green"><%= notice %></p>

<%= render @survey %>

<div>
  <%= link_to "Edit this survey", edit_survey_path(@survey), class:"btn btn-info" %> |
  <%= link_to "Back to surveys", surveys_path, class:"btn btn-secondary" %>
<div class="danger">
  <%= button_to "Destroy this survey", @survey, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
